<div class="login-container">
  <div class="login">
    <form action="" class="form">
      <span class="title-login">Forgot password</span>
      <div class="form-inputs">
        <span class="text-message">Ingrese el correo electronico con el que se registró
          para poder enviarle un email de recuperación, en caso de ser un email válido y registrado lo encontrará en
          su bandeja de entrada</span>
        <input type="text" name="" placeholder="Ingrese su correo" class="input-text">
      </div>
      <button class="btn-login">Enviar</button>
      <div class="links-bottom">
        <a [routerLink]="['/auth/login']">Login</a>
      </div>
    </form>
  </div>
</div>
