<div class="main-chat" *ngIf="isActiveChat">
  <!-- Header chat -->
  <div class="bg-template-light">
    <div>
      <!-- Profile info -->
      <div class="div-profile-info">
        <img class="chat-img-friend"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkIh30VvD43t3klQ2XZw4M3204XqLmnD95bQ&s"
          alt="prifile_img">
        <div class="chat-friend-info-conectiom">
          <span class="chat-friend-info-conectiom-1">mark williams</span>
          <span class="chat-friend-info-conectiom-2">Last seen 2 at 7:45 PM</span>
        </div>
      </div>
      <!-- Seeting chat -->
    </div>
    <div>
      <mat-icon class="mat-18">more_vert</mat-icon>
    </div>
  </div>

  <div class="chat-body">
    <div *ngFor="let item of messages">
      <div class="msg-receptor" *ngIf="item.messages.user_id !== owsnerUser.id">
        <div class="div-text-receptor">
          <span class="msg-text">
            {{item.messages.message}}
          </span>
        </div>
      </div>

      <div class="msg-emisor" *ngIf="item.messages.user_id=== owsnerUser.id">
        <div class="div-text-emisor">
          <span class="msg-text">{{item.messages.message}}</span>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-sender-chat">
    <input class="box-sender-msg" type="text" name="" id="">
    <div class="icon-btn-send">
      <mat-icon class="mat-18">send</mat-icon>
    </div>
  </div>

</div>

<div class="no-chat" *ngIf="!isActiveChat">
  <img class="img-no-chat" src="../../../../assets/bg-chat.jpg" alt="" srcset="">
</div>
