<div class="login-container">
  <div class="login">
    <form action="" class="form">
      <span class="title-login">Login</span>
      <div class="form-inputs">
        <input type="text" name="" placeholder="Ingrese su usuario" class="input-text">
        <input type="text" name="" placeholder="Ingrese su contraseña" class="input-text">
      </div>
      <button class="btn-login">Login</button>
      <div class="links-bottom">
        <a [routerLink]="['/auth/forgot-password']">Forgot your password ?</a> <a
          [routerLink]="['/auth/register']">Register</a>
      </div>
    </form>
  </div>
</div>
