.login-container {
  height: 100vh;
  background-image: url('../../../../assets/orion-nebula-11107_1280.jpg');
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(91, 17, 176);
  transition: 0.5s;
  text-decoration: underline;
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
}

.title-login {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0px;
}

.input-text {
  background-color: transparent;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid white;
  padding: 1em;
  color: white;
  transition: all ease .5s;
}

.input-text::placeholder {
  color: white;
}

.input-text:focus {
  outline: none;
  border: 1px solid white;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-login {
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 20px 0px;
}

.btn-login:hover {
  background-color: rgb(91, 17, 176);
  transition: 0.5s;
  color: white;
}

.links-bottom {
  display: flex;
  justify-content: flex-end;
}
