<div class="contenedor">

  <div class="aside-header">
    <div class="input-search">
      <input class="search-chat" (input)="getContactsByName()" [(ngModel)]="nameContact" type="text" name="" id="">
      <mat-icon class="">search</mat-icon>
    </div>

    <div class="body-contacts" *ngIf="contacts.length > 0">
      <div class="contact" *ngFor="let contact of contacts">
        <div (click)="selectContact(contact)">
          <img class="contact-img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqf0Wx4wmsKfLYsiLdBx6H4D8bwQBurWhx5g&s" alt="">
          <span class="contact-name" >{{contact.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="list-chats">
    <div class="label-chats">
      <mat-icon class="icon-chat">
        chat
      </mat-icon> Chats
    </div>

    <!-- box contacts -->
    <div *ngFor="let chat of chats" >
      <div class="box-contact" (click)="sendInfoConversation(chat)">
        <div class="aside-div-img-chat">
          <img class="aside-img-chat"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqf0Wx4wmsKfLYsiLdBx6H4D8bwQBurWhx5g&s" alt="">
        </div>


        <div class="aside-content-chat">
          <span class="aside-name-chat">{{chat.name}}</span>
          <span class="aside-text-message">Message last comming too large porua qwe asdas dasd Message last comming too
            large porua qwe asdas</span>
        </div>

        <div class="aside-info-chat">
          <span>1 min</span>
          <span>
            <mat-icon class="mat-18">done_all</mat-icon>
          </span>
        </div>
      </div>
    </div>


    <!-- <div class="box-contact">
      <div class="aside-div-img-chat">
        <img class="aside-img-chat"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkIh30VvD43t3klQ2XZw4M3204XqLmnD95bQ&s" alt="">
      </div>


      <div class="aside-content-chat">
        <span class="aside-name-chat">mark williams</span>
            <div class="waviy">
              <span style="--i:1">T</span>
              <span style="--i:2">y</span>
              <span style="--i:3">p</span>
              <span style="--i:4">i</span>
              <span style="--i:5">n</span>
              <span style="--i:6">g</span>
              <span style="--i:7">.</span>
              <span style="--i:8">.</span>
              <span style="--i:9">.</span>
            </div>
      </div>

      <div class="aside-info-chat">
        <span>1 min</span>
        <span>
          <mat-icon class="mat-18">done_all</mat-icon>
        </span>
      </div>

    </div> -->
  </div>


</div>
